/*
*---------
* WORK 
* flex-box for magazine 
* cards 
* -------------
*/
*{padding: 0; margin: 0; font-family: Arial;}

body {
	background: url(image/fone.jpg) 100% 100% no-repeat;
	background-size: cover;
}
.fone {
	height: 700px;
	background: black;
}
header {background: silver; height: 200px;}

.mogo {background: orange;}
.push_now {
	width: 200px;
	background: orange;
	display: block;
	border-radius: 25px;
	border: 2px solid white;
	cursor: pointer;
	transition: 0.3s ease all;
}
.push_now:hover {
	color: white;
	background: silver;
}
.push_now p {
	font-family: calibri;
	padding: 15px 0;
	text-align: center;
}
.wp_hoco {
	transition: 1s ease all;
}
.line {
	background: black;
	color: white;
	font-weight: bold;
}
/*flex-test.html file*/
.heads{
	padding: 20px;
	background: black;
	color: white;
}
.head h1 {color: white;}
/*------------ down */

@media screen and (min-width: 501px) {
.wrapper_soc_icons {
	font-size: 12px;
	position:absolute;
	top: 5px;
	left: 12px;
	color:#000;
	width:100%;
	height:50px;
}
.wrapper_soc_icons .origin-act {
	border-radius: 10px;
	padding: 5px;
	display: inline-block;
	margin: 0 2px 5px 0;
}

.c-red {
	background: #9457EB;
	color: white;
}
.c-blue {
	background: #318CE7;
	color: white;
}
.c-green {
	background: #55D701;
	color: white;
}
.c-yellow {
	background: deeppink;
	color: white;
}
@keyframes anm-stock {
	0% {transform: rotate(-0.03turn);}
	50% {transform: rotate(0.03turn);}
	/*70% {transform: rotate(0.0turn);}*/
	100% {transform: rotate(-0.03turn);}
}
.stock {
	animation-name: anm-stock;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

	.content-x, .f_container, .f_into_container, .second_main_block  { display: flex; }
	.f_into_container, .second_main_block {  flex-direction: column; }
	.f_one_block, .f_one_block img, 
	.f_two_block img, .into_one,
	.into_one img, .into_two,
	.into_two img, .s_one_block, 
	.s_one_block img, .s_two_block, .s_two_block img {	width: 100%;}
	.content-x{padding:9px;margin:50px auto;max-width:1200px;min-height:200px}
	.first_main_block{margin:0 9px 0 0;width:70%}
	.f_one_block,.f_two_block{background:silver;height:200px;overflow:clip}
	.f_one_block{margin:0 9px 9px 0}
	.f_one_block img{height:200px;object-fit:none}
	.f_two_block{margin-right:9px;width:50%}
	.f_two_block img{height:200px;object-fit:cover}
	.f_into_container{width:50%}
	.into_one,.into_two{background:silver;overflow:clip}
	.into_one{height:100px;margin-bottom:9px; }
	.into_one img,.into_two img{height:100px;object-fit:cover}
	.into_two{height:91px}
	.into_two img{height:91px}
	.second_main_block{width:30%}
	.s_one_block{margin-bottom:9px}
	.s_one_block img{object-fit:cover;height:240px}
	.s_one_block,.s_two_block{background:silver;height:200px;overflow:clip}
	.s_two_block img{object-fit:cover;height:100%}
	.f_one_block, .f_two_block, .into_one, .into_two, .s_one_block, .s_two_block{text-align: left; position: relative;}
	.main-text{position:absolute;top:30px;left:16px;color:#000;width:100%;height:200px; }
	.main-text h4{margin:5px 0}
	.push_more{width:100px;cursor:pointer;margin-top:10px;padding:5px;text-align:center;background:#000;color:#fff}
	.push_more:hover{background:rgba(0,0,0,.5)}.into_one,.into_two{font-size:14px}
	.push_more a {color: white;}
}
@media screen and (min-width: 501px)  {
	.down-arw {overflow: hidden; color: black; position: absolute; right: 14px; bottom: 1px; height: 50px; width: 16px;}
	@keyframes arrows-down {
		0% {padding-top: 0px; opacity: 0.1;}
		50% {margin-top: 15px; opacity: 1;}
		100% {margin-top: 50px; opacity: 0.1;}
	}
	.down-arw img {
		height: 16px;
		width: 16x;
		transform: rotate(0.5turn);
		animation-name: arrows-down;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}


	.main-text {overflow-y: scroll!important;  height: 80px; top: 60px;}
	.main-text .push_more {margin-bottom: 50px;}
}



@media screen and (max-width: 500px) {
	.f_one_block, .f_two_block, .into_one, .into_two, .s_one_block, .s_two_block{text-align: center; position: relative;}
	.main-text{position:absolute;top:50%;color:#000;width: 100%;}
	.main-text>h4, .main-text>p {display: none;}
	.push_more { width: 100%;}
	.push_more>p { color:white; text-align: center; padding: 20px; width: 80px; margin: 0 auto; background:rgba(0,0,0,.5); border-radius: 10px; }
	.push_more a {color: white;}
	.f_one_block,.f_two_block,.into_one,.into_two,.s_one_block,.s_two_block{padding-top:20px;overflow:clip;height:200px}
	.f_one_block img,.f_two_block img,.into_one img,.into_two img,.s_one_block img,.s_two_block img{width:100%;height:200px;object-fit:cover}
}

